{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col gap-6">
    
    <header class="mt-2">
        <h2 class="text-2xl font-bold text-gray-900">Meus Cartões</h2>
    </header>

    <section class="flex flex-col gap-4">
        {% for cartao in meus_cartoes %}

        <div class="{{ cartao.cor }} rounded-3xl p-6 text-white shadow-sm relative overflow-hidden">
            <div class="flex justify-between items-center mb-8">
                <span class="font-bold text-lg tracking-wide">{{ cartao.nome }}</span>
                <span class="text-xs font-medium px-2 py-1 bg-white/20 rounded">{{ cartao.bandeira }}</span>
                <div class="flex gap-4 mt-2">
                    <a href="/editar_cartao/{{ cartao.id }}" class="text-xs text-blue-200 hover:text-blue-400 transition-colors">
                        ✏️ Editar</a>
                    <a href="/deletar_cartao/{{ cartao.id }}" class="text-xs text-red-200 hover:text-red-500 mt-2 transition-colors">
                        ❌ Excluir</a>
                </div>
            </div>
            <div>
                <p class="text-xs opacity-90 mb-1 font-medium tracking-widest">FINAL DO CARTÃO</p>
                <p class="text-xl font-mono tracking-[0.2em]">**** **** **** {{ cartao.final }}</p>
            </div>
        </div>
        
        {% endfor %}

        <div class="mt-8 bg-white rounded-3xl p-6 shadow-sm border border-gray-100">
            <h3 class="text-lg font-bold text-gray-800 mb-4">Adicionar Novo Cartão</h3>

            <form action="/adicionar_cartao" method="post" class="flex flex-col gap-4">

                <div>
                    <label class="text-xs font-medium text-gray-500 mb-1 block">Nome da Instituição (Ex: C6 Bank)</label>
                    <input type="text" name="nome_cartao" required
                            class="w-full bg-gray-50 border border-gray-200 rounded-xl px-4 py-2 text-sm text-gray-800 outline-none focus:border-blue-500 transition-colors">
                </div>
                <div>
                    <label class="text-xs font-medium text-gray-500 mb-1 block">Últimos 4 dígitos</label>
                    <input type="text" name="final_cartao" maxlength="4" required
                            class="w-full bg-gray-50 border border-gray-200 rounded-xl px-4 py-2 text-sm text-gray-800 outline-none focus:border-blue-500 transition-colors">
                </div>
                <button type="submit" class="bg-blue-600 text-white font-medium rounded-xl py-3 mt-2 hover:bg-blue-700 transition-colors">Salvar Cartão</button>

            </form>
        </div>

    </section>

</div>
{% endblock %}